html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'vcr';
    src: url('vcr_osd_mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: whitesmoke;
    font-family: 'vcr';
    background-image: url('https://agentepanela.neocities.org/images/gameBg.png');
    background-size: cover;
}

input {
    outline: none;
    border-radius: 0%;
    font-family: 'vcr';
    border-color: black;
}

button {
    background-color: transparent;
    /*border: 2px solid whitesmoke;*/
    /* border: none; */
    font-family: 'vcr';
    color: whitesmoke;
    padding: 1%;
}

.main {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    position: relative;
    display: inline-block;
}

.main::before,
.main::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    border: 2px solid white;
}

.main::before {
  left: -1px;
  border-right: none;
}

.main::after {
  right: -1px;
  border-left: none;
}

/* navbar */
header {
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo à esquerda */
.navbar-logo {
    margin-left: 10px;
}

/* Centralizar as opções da navbar */
.navbar-options {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 22px;
    color: rgb(218, 218, 218);
    user-select: none;
}

.navbar-nav a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.navbar-nav a:hover {
    color: yellow;
}

/* Link de login à direita */
.navbar-login {
    margin-right: 20px;
}

.navbar-login a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.navbar-login a:hover {
    color: yellow;
}

.postList {
    font-size: larger;
}

.postList {
    font-weight: bold;
}

.postList ul {
    list-style-type: none;
    padding: 0;
}

.postList li {
    margin-top: 1%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 15px;
}

.postList small{
    line-height: 1px;
}

.postList p{
    line-height: 1px;
    font-size: medium;
}

.postDate {
    font-weight: normal;
}

.postList img {
    padding-right: 3%;
}