/* Countdown start */
.countdown {
    font-size: 2em
}
.countdownLabel {
    line-height: 1px;
}
.rainbow {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% 800%;
    animation: rainbowAnim 5s ease infinite;
}

@keyframes rainbowAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}

.confetti {
    position: fixed;
    top: -10px;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 9999;
    animation: fall 4s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotateZ(360deg);
        opacity: 0;
    }
}

/* Countdown end*/

html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'vcr';
    src: url('vcr_osd_mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 10, 12);
    color: whitesmoke;
    font-family: 'vcr';
    background-image: url('https://agentepanela.neocities.org/images/gameBg.png');
    background-size: cover;
}

h1, h2, h3 {
    text-transform: uppercase;
}

input {
    outline: none;
    border-radius: 0%;
    font-family: 'vcr';
    border-color: black;
}

button {
    position: relative;
    color: whitesmoke;
    padding: 10px;
    padding-top: 6px;
    margin-top: 5px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    font-family: 'vcr';
    vertical-align: middle;
}

button::before,
button::after {
    content: "";
    position: absolute;
    top: 0;
    height: 80%;
    width: 10px;
    border: 2px solid white;
}

button::before {
    left: -1px;
    border-right: none;
}

button::after {
    right: -1px;
    border-left: none;
}

button:hover::before {
    left: 5px;
}

button:hover::after {
    right: 5px;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    position: relative;
    display: inline-block;
}

.section {
    margin-top: 1%;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: #161616;
    padding: 15px;

    word-wrap: break-word; /* Garante que palavras longas quebrem corretamente */
}

.main::before,
.main::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    border: 2px solid white;
}

.main::before {
  left: -1px;
  border-right: none;
}

.main::after {
  right: -1px;
  border-left: none;
}

/* navbar */
header {
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo à esquerda */
.navbar-logo {
    margin-left: 10px;
}

/* Centralizar as opções da navbar */
.navbar-options {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 22px;
    color: rgb(218, 218, 218);
    user-select: none;
}

.navbar-nav a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.navbar-nav a:hover {
    color: yellow;
}

/* Link de login à direita */
.navbar-login {
    margin-right: 20px;
}

.navbar-login a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.navbar-login a:hover {
    color: yellow;
}

/* posts area */

.postList {
    font-size: larger;
}

.postList ul {
    list-style-type: none;
    padding: 0;
}

.postList li {
    margin-top: 1%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: #161616;
    padding: 15px;
    /* border: 2px solid whitesmoke; */
}

.postList small{
    line-height: 1px;
}

.postList p{
    line-height: 1px;
    font-size: medium;
}

.postDate {
    font-weight: normal;
}

.postList img {
    padding-right: 3%;
}

/* SS14 Style - get from spacestation14.com website */
.angle-rect {
    --angle-rect-clip-size: 16px;
    -webkit-clip-path: polygon(0 0,calc(100% - var(--angle-rect-clip-size)) 0,100% var(--angle-rect-clip-size),100% 100%,var(--angle-rect-clip-size) 100%,0 calc(100% - var(--angle-rect-clip-size)));
    clip-path: polygon(0 0,calc(100% - var(--angle-rect-clip-size)) 0,100% var(--angle-rect-clip-size),100% 100%,var(--angle-rect-clip-size) 100%,0 calc(100% - var(--angle-rect-clip-size)));
}

.angle-rect.open-tr {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,var(--angle-rect-clip-size) 100%,0 calc(100% - var(--angle-rect-clip-size)));
    clip-path: polygon(0 0,100% 0,100% 100%,var(--angle-rect-clip-size) 100%,0 calc(100% - var(--angle-rect-clip-size)))
}

.angle-rect.open-bl {
    -webkit-clip-path: polygon(0 0,calc(100% - var(--angle-rect-clip-size)) 0,100% var(--angle-rect-clip-size),100% 100%,0 100%);
    clip-path: polygon(0 0,calc(100% - var(--angle-rect-clip-size)) 0,100% var(--angle-rect-clip-size),100% 100%,0 100%)
}

.angle-rect.open-tr.open-bl {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%)
}
